.client{
    width: 100%;
    margin-top: 212px;
    background: $bg-py;
    &__block{
        width: 100%;
        @include df(center, start);
        padding: 80px 0;
    }
    &__subtitle{
        width: 40%;
        p{
            font-size: 48px;
            line-height: 60px;
            font-weight: 600;
            color: $bg-light;
        }
    }
}
