.header{
    width: 100%;
}
.navbar{
    width: 100%;
    @include df(space-between, center);
    height: 70px;
    &__logo{
        max-width: 106px;
        height: 36px;
        p{
            font-size: 24px;
            line-height: 36px;
            font-weight: 400;
            color: $bg-dark;
        }
    }
    &__collection{
        @include df();
        gap: 50px;     
    }
    &__item{
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        transition: .5s;
        &:hover{
            cursor: pointer;
            opacity: .7;
        }
        &:active{
            transform: scale(.8);
        }
    }
    &__menu{
        width: 28px;
        height: 28px;
        img{
            width: 100%;
            height: 100%;
        }
        display: none;
    }
}
@media (max-width: 750px){
    .navbar_logo{
        p{
            font-size: 18px;
            line-height: 24px;
        }
    }
    .navbar__collection{
        display: none;
    }
    .navbar__menu{
        display: block;
    }
}
@media (max-width: 550px){
    .navbar_logo{
        p{
            font-size: 18px;
            line-height: 24px;
        }
    }
    .navbar__collection{
        display: none;
    }
}
@media (max-width: 450px){
    .navbar_logo{
        p{
            font-size: 18px;
            line-height: 24px;
        }
    }
    .navbar__collection{
        display: none;
    }
    .navbar__menu{
        display: block;
    }
}
@media (max-width: 350px){
    .navbar_logo{
        p{
            font-size: 18px;
            line-height: 24px;
        }
    }
    .navbar__collection{
        display: none;
    }
    .navbar__menu{
        display: block;
        width: 22px;
        height: 22px;
    }
}