.search{
    width: 100%;
    margin-top: 67px;
    @include df();
    &__wrapper{
        width: 100%;
        @include df();
        border: 1px solid $bg-border;
        border-radius: 20px;
        // box-shadow: 2px 40px 50px;
        box-shadow: 10px 28px 50px 0 rgba(0,0,0,0.75);

    }
    &__block{
        width: 33.33%;
        @include df();
        gap: 105px;
        padding: 16px;
    }
    &__card{
        width: 100%;
        @include dfc(start ,center);
        gap: 24px;
    }
    &__block::after{
        content: "";
        height: 261px;
        border: 1px solid $bg-border;
    }
    &__block:last-child::after{
        content: "";
        height: 261px;
        border: none;
    }
    &__img{
        width: 92px;
        height: 92px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__content{
        width: 100%;
        @include dfc();
        gap: 16px;
        p{
            font-size: 20px;
            font-weight: 600;
            line-height: 27px;
            color: $bg-text;
        }
        span{
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: $bg-stext;
        }
    }
}    
@media (max-width: 900px){
    .search__block{
        gap: 70px;
        padding: 8px;
    }
    .search__card{
        gap: 8px;
    }
    .search__img{
        img{
            margin-bottom: 0;
        }       
    }
    .search__content{
        p{
            font-size: 16px;
            line-height: 24px;
        }
        span{
            font-size: 12px;
            line-height: 16px;
        }
    }
}
@media (max-width: 750px){
    .search__wrapper{
        @include dfc();
        gap: 16px;
        border: none;
        box-shadow: none;
    }
    .search__block{
        width: 100%;
        padding: 8px;
    }
    .search__block::after{
        display: none;
    }
    .search__card{
        width: 100%;
        @include df(start, center);
        flex-direction: row;
        gap: 32px;
        border: 1px solid $bg-border;
        border-radius: 20px;
        box-shadow: 10px 28px 50px -25px rgba(0,0,0,0.75);


    }
    .search__img{
        width: 62px;
        height: 62px;
    }
    .search__content{
        @include dfc(start,center);
        p{
            font-size: 16px;
            line-height: 24px;
        }
        span{
            font-size: 12px;
            line-height: 16px;
        }
    }   
}
@media (max-width: 450px){
    .search__wrapper{
        @include dfc();
        gap: 16px;
    }
    .search__block{
        width: 100%;
        padding: 8px;
    }
    .search__block::after{
        display: none;
    }
    .search__card{
        width: 100%;
        @include dfc(start, center);
        gap: 16px;
    }
    .search__img{
        width: 52px;
        height: 52px;
    }
    .search__content{
        @include dfc(start,center);
        p{
            font-size: 16px;
            line-height: 24px;
        }
        span{
            font-size: 12px;
            line-height: 16px;
        }
    }   
}